html, body { 
    max-width: 100%;
    overflow-x: hidden !important;

    background-color: #fefab5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*referee profile name styling*/
.googleFont{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 50px;
    /*color: #223144;*/
    color: white;
    font-weight: 600;
}


/*referee profile picture styling*/
.userProfilePicture {
    border-radius: 50%;
    margin-bottom: 20px;
}

.tab-pane{
  height:120px;
  overflow-y:scroll;
  width:100%;
}

/*referee personal information table content center*/
.text-center {
    text-align: center !important;
    color: white;
    font-weight: 800;
    font-family: 'Arial', serif;
    border-color: black;
    
}

/*referee personal and game information panels*/
#gameInformationSecPanelID, #personalInformationSecPanelID{
    background: rgb(57, 66, 100);
    margin-top:2%;
    min-height: 650px;
    max-height: 650px;
}

#gameInformationMainPanelID, #personalInformationMainPanelID {

    margin: 0 auto;
    padding: 0em 0em 0em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: rgb(57, 66, 100);
    
    margin-bottom: 30px;
    
    border: 10px solid rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/*referee personal and game information panel headings*/
#gameInformationHeadingID, #personalInformationHeadingID{
    background: rgb(17, 168, 171);
    font-family: 'Calibri', serif;
    color: white;
    font-weight: 600;
    font-size: 25px;
}

/*referee game information stars styling*/
.rating-star{
    display        : inline-block;
    vertical-align : middle;
    position       : relative;
    line-height    : 1;
    font-size      : 60px;
    width          : 3.75em;
    color          : #fb0;
}
.rating-item{
    float    : right;
    height   : .75em;
    width    : .75em;
    overflow : hidden;
    position : relative;
    z-index  : 1;
}

.rating-item:before{
    content     : "\2606";
    display     : block;
    line-height : .75em;
    text-indent : -.035em;
}



.rating-item.result{
    overflow : hidden;
    position : absolute;
    z-index  : 0;
    top      : 0;
    left     : 0;
    width    : 0;
}


.rating-item.result:before{
    content        : "\2605 \2605 \2605 \2605 \2605";
    letter-spacing : -.08em;
}















